.gewerbe{
    height: auto;
    width: 55%;
    text-align: center;
    background: rgba(128, 128, 128, 0.411);
}
.gewerbeSection{
    height: auto;
    border: 1px solid white;
}

.gewerbeSection h2{
    padding-left: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #042956;
}
.unternehmenSection button{
    padding: 1em 4em;
    border-radius: 2px;
    margin: 1em;
    background: #00DEAC;
    color: #042956;
    font-size: .8em;
    font-weight: bolder;
}
.gewerbeForm{
    padding: 1.5em;
}
.gewerbeForm>p{
    padding: 1em;
    color: #042956;
}
.gewerbeSubmit{
        padding: 1em 4em;
        border-radius: 2px;
        margin: 1em;
        background: #00DEAC;
        color: #042956;
        font-size: .8em;
        font-weight: bolder;
}